@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /*Text*/
  --DarkBlue: hsl(238, 29%, 16%);
  --Orange: hsl(14, 88%, 65%);
  --DarkGray: hsl(237, 12%, 33%);
  --LightGray: hsl(240, 6%, 50%);

  /*Gradient*/
  --Violet: hsl(273, 75%, 66%);
  --Blue: hsl(240, 73%, 65%);

  /*Dividers*/
  --Grayish: hsl(240, 5%, 91%);

  /*Neutral*/
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Kumbh Sans", sans-serif;
  transition: all 0.3s ease;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background: linear-gradient(var(--Violet), var(--Blue));
  padding: 70px;
}

hr {
  margin: 10px 0px;
}

.all_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1000px;
  background-color: white;
  padding: 40px 0px;
  border-radius: 20px;
}

.left_half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box {
  position: absolute;
  left: -100px;
  top: center;
}

.faq {
  font-size: 35px;
  margin-bottom: 45px;
}

.right_half {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question_and_answer {
  max-width: 75%;
}

.question_and_carrot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 8px;
  color: var(--DarkBlue);
}

.question_and_carrot:hover {
  color: var(--Orange);
}

.answer {
  max-height: 0;
  overflow: hidden;
}

@media (width <= 1067px) {
  body {
    padding: 0px 15px;
  }

  .all_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box {
    display: none;
  }

  .woman {
    display: flex;
    width: 100%;
  }

  .question_and_answer {
    max-width: 100%;
  }

  .all_content {
    padding: 30px;
  }
}
